@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat - Bold";
    src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
}
body {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.wrapper {
    .wrapper();
}
h2.main-h2 {
    color: #263238;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
    @media screen and (max-width: 500px) {
        font-size: 24px;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 36px;
    min-width: 185px;
    height: 50px;
    box-shadow: 0 10px 15px rgba(78, 175, 80, 0.3);
    border-radius: 25px;
    background-color: #4caf50;
    background-image: linear-gradient(to right, #4caf50 0%, #8bc34a 100%);
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    cursor: pointer;
}
main.site-main {
    h3 {
        color: #131313;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        margin: 30px 0 50px;
        @media screen and (max-width: 500px) {
            font-size: 18px;
            margin: 30px 0 20px;
        }
    }
    p {
        margin: 12px 0;
        strong {
            font-family: "Montserrat - Bold";
            font-weight: 700;
        }
    }
    ul, ol {
        margin: 0;
    }
    .col-50 {
        width: 50%;
        padding-right: 100px;
        box-sizing: border-box;
        @media screen and (max-width: 1000px) {
            padding-right: 30px;
        }
        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }
    .col-100 {
        width: 100%;
    }
}
