@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat - Bold";
    src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
}
body {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.wrapper {
    .wrapper();
}
h1 {
    font-size: 50px;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 36px;
    min-width: 185px;
    height: 50px;
    box-shadow: 0 10px 15px rgba(78, 175, 80, 0.3);
    border-radius: 25px;
    background-color: #4caf50;
    background-image: linear-gradient(to right, #4caf50 0%, #8bc34a 100%);
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    cursor: pointer;
}